.topbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-medium);
  background: var(--topbar-gradient-bg);
  height: 35px;
  position: relative;
  border-bottom: 2px solid var(--border);
  -webkit-app-region: drag;
  user-select: none;
}

.branding {
  display: flex;
  align-items: center;
  gap: 6px;
  pointer-events: none;
}

.topbar .logo {
  width: 22px;
  height: 22px;
  border-radius: 3px;
  -webkit-user-drag: none;
  user-select: none;
}

.topbar .title {
  margin: 0;
  font-size: 1rem;
  color: var(--text);
  user-select: none;
  pointer-events: none;
}

.window-controls {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

.ctrl-btn {
  width: 35px;
  height: 35px;
  
  background: transparent;
  border: none;
  cursor: pointer;
  user-select: none;
  -webkit-app-region: no-drag;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: background-color var(--transition);
}
.ctrl-btn:hover {
  background-color: var(--bg-buttons);
}
.ctrl-btn:focus-visible {
  outline: none;
  outline-offset: 0;
}

#closeBtn:hover {
  background-color: var(--accent);
}

.ctrl-btn-icon {
  filter: var(--icon-settings-filter);
  width: 17px;
  height: 17px;
  transition: filter var(--transition);
}

.ctrl-btn:hover .ctrl-btn-icon {
  filter: var(--icon-filter);
}